h1{
    text-align: center;
    color:#80ced6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #618685;
    border-radius: 50px;    
}
h2{
    text-align: center;
    color:#80ced6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkslategray;
    border-radius: 50px;    
}
#selfie{
    width: 200px;
    border-radius: 40px;
    padding: 1px 4px 5px 1px;
    background-color:rgba(31, 121, 58, 0.589)
}
#trybe-background{
    background-image: url(../images/CAPA\ LINKEDIN_PERFIL\ PESSOAL03\ \(1\).png);
    background-size: cover;
    padding: 60px 30px 40px 30px;
    background-position: 50% 25%;
}
.about-and-social-media{
    padding: 30px 70px 90px 70px;
    width: 100%;
    margin: auto;
    color:#618685;;
}
.links-in-page{
    width: 30%;
    text-align: center;
    margin: 50px 20px;
    display: inline-block;

}
.button{
    background-color: #fefbd8;
    padding: 20px 100px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}
.social-links{
    width: 30%;
    font-size: 20px;
    display: inline-block;
    background-color: burlywood;
    padding: 10px 5px;
    margin: 20px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}
.aboutme{
    line-height: 30px;
    padding: 1px 1px 1px 1px;
    font-size: 20px;
    color: #694764;
}
.myskills{
    background-color: rgba(28, 45, 61, 0.315);
    border-radius: 15px;
}
.myskills p{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(73, 116, 145, 0.685);
    line-height: 30px;
    padding: 10px 1px 10px 1px;
    border: thin groove black ;
    border-radius: 15px;
    font-size: 20px;
    color: #50394c;
    font-style: italic;
}