body{
    margin: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #9b2226;
    box-shadow:0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: #e9d8a6;
    font-size: 25px;
    margin-right: 20px;
    padding: 19px;
}
.navItems:hover{
   background-color: #0a778d;
}
.welcomeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 670px;
    background-color: #062531;
}
.selfie{
    margin-top: 50px;
    width: 200px;
    border-radius: 50%;
    padding: 0px 3px 3px 0px;
    background-color: #001219;
}
h1{
    color: #ee9b00;
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: 800px;
}
h2{
    margin-top: 100px;
    color: #e9d8a6;
    font-size: 40px;
    font-weight: 800px;
    text-decoration: underline;
    text-align: center;
}
#welcomeP{
    color: #ae2012;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 700px;
}
.skills li{
    margin-top: 50px;
    line-height: 20px;
    color: #e9d8a6;
    display: inline-block;
    margin-left: 100px;
}
.skills{
    margin-right: 10%;
}
.projectsHeader{
    width: 100%;
    height: 670px;
    background-color: #0a9396; 
    align-items: center;
}
.button{
    background-color: #005f73;
    border: none;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 20%;
    cursor: pointer;   
    border-radius: 10%;
}
.button:hover{
    background-color: #031a58; 
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 670px;
    background-color: #005f73;
}
.contact h1{
    margin-bottom: 100px;
    color: #e9d8a6;
}
.social-icons a{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin: 20px 50px;
    border-radius: 50%;
    font-size: 50px;
    text-decoration: none;
    color: #02181d;
}
.social-icons i, .a-social-b i {
    color: #000000;
}
.social-icons a:hover, .a-social-b a:hover{
    background-color: #02181d;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i, .a-social-b a:hover i{
    color: white;
    transition: all ease 0.5s;
}
.social-icons{
    display: flex;
}
footer{
    background-color: #001219;
    text-align: center;
    width: 100%;
    height: 40px;
}
footer p{
    color: #e9d8a6;
    font-size: 10px;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.a-social-b i{
    color: 2b2b2b;
    font-size: 20px;
   
}



